[data-md-color-scheme="k2"] {
  --md-primary-fg-color:        #005DC1;
  --md-primary-fg-color--light: #005DC1;
  --md-primary-fg-color--dark:  #005DC1;
}

:root {
  --md-primary-fg-color:        #005DC1;
  --md-primary-fg-color--light: #005DC1;
  --md-primary-fg-color--dark:  #005DC1;
}