{% extends "main.html" %}

{% block styles %}
{{ super() }}
  <style>
    a {
      color: inherit !important;
    }
  </style>
<!-- MDB -->
<link href="assets/stylesheets/mdb.min.css" rel="stylesheet">
{% endblock %}


{% block tabs %}
  {{ super() }}

  <style>
    .md-header{
      position:initial
    }
    .md-main__inner{
      margin:0
    }
    .md-content{
      display:none
    }
    @media screen and (min-width:60em){
      .md-sidebar--secondary{
        display:none
      }
    }
    @media screen and (min-width:76.25em){
      .md-sidebar--primary
      {
        display:none
      }
    }
    body {
      background-color: #fbfbfb;
    }
    .bg-theme {
      background-color: #7446ac !important;
    }

    .text-theme {
      color: #7446ac !important;
    }

    .border-theme {
      border: 2px solid #7446ac !important;
    }

    .btn-secondary-theme {
      color: hsl(267, 42%, 47%);
      box-shadow: none !important;
      background-color: hsl(263, 50%, 94%);
    }

    .btn-secondary-theme:hover,
    .btn-secondary-theme:focus {
      background-color: hsl(267, 70%, 95%);
      color: hsl(267, 42%, 37%);
    }
    .card-body{
      padding: 10px;
    }
    .card-text {
      font-size: 0.75rem;
    }
    .card-img-top {
      width: 60%;
      padding: 10px 10px 0px 10px;
    }
    .card {
      align-items: center;
    }
  </style>

<main class="mdb-docs-layout">
<div class="container mt-5 mt-5  ">
<section style="min-height: 90vh" class="mt-md-4">
  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0 d-flex align-items-center">
      <div>
        <h1 class="fw-bold h3">
          Next-gen Kaldi <br>
          <small class="text-theme h4">for advanced &amp; efficient automatic speech recognition</small>
        </h1>
        <p class="text-muted">
          k2 Lhotse Icefall Sherpa
        </p>
        <div class="">
          <ol class="list-unstyled my-5 text-muted">
            <li class="mb-3">
                <i class="fas fa-check text-theme me-2"></i> fast training
            </li>
            <li class="mb-3">
                <i class="fas fa-check text-theme me-2"></i> zipformer
            </li>
            <li class="mb-3">
              <i class="fas fa-check text-theme me-2"></i> Easy to use
            </li>
            <li class="">
              <i class="fas fa-check text-theme me-2"></i> Apache-2.0 license -
              free for personal &amp; commercial use
            </li>
          </ol>

          <a class="btn btn-lg bg-theme text-white me-3" href="/getting-started/" role="button">Get
            started</a>

          <a class="btn btn-secondary-theme btn-lg me-3" data-mdb-smooth-scroll="smooth-scroll" data-mdb-offset="25"
            data-mdb-ripple-color="hsl(265, 81.4%, 53.5%)" href="/demo/" role="button">Demo</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4 mb-md-0 d-flex align-items-center">
      <div class="bg-image hover-overlay ripple shadow-3 rounded-7" data-ripple-color="light">
        <img
          src="assets/pic/k2.png"
          class="w-100" alt="" />
        <a href=""
          rel="nofollow" target="_blank">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="mt-md-4">
    <div style="padding: 20px">
        <h1 class="fw-bold h3">
          Projects
        </h1>
    </div>
    <div class="d-flex">
    <div class="p-1 flex-fill">
    <div class="card">
       <img src="assets/pic/k2_logo.png" class="card-img-top"/>
       <div class="card-body">
         <h5 class="card-title">k2</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!">Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <img src="assets/pic/icefall_logo.png" class="card-img-top"/>
       <div class="card-body">
         <h5 class="card-title">icefall</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!">Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <img src="assets/pic/lhotse_logo.png" class="card-img-top"/>
       <div class="card-body">
         <h5 class="card-title">lhotse</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!" >Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <img src="assets/pic/kaldi_logo.png" class="card-img-top"/>
       <div class="card-body">
         <h5 class="card-title">sherpa</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!" >Button</a>
       </div>
     </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="p-1 flex-fill">
    <div class="card">
       <div class="card-body">
         <h5 class="card-title">fast rnnt</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!">Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <div class="card-body">
         <h5 class="card-title">text search</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!">Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <div class="card-body">
         <h5 class="card-title">divide lm</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!" >Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <div class="card-body">
         <h5 class="card-title">multi-quantization</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!" >Button</a>
       </div>
     </div>
    </div>

    <div class="p-1 flex-fill">
    <div class="card">
       <div class="card-body">
         <h5 class="card-title">kaldifst</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#!" >Button</a>
       </div>
     </div>
  </div>
  </div>
</section>
</div>
</main>

{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}
  <!-- MDB -->
  <script type="text/javascript" src="assets/javascripts/mdb.min.js"></script>

  {{ super() }}

{% endblock %}
