{% extends "main.html" %}

{% block styles %}
{{ super() }}
  <style>
    a {
      color: inherit !important;
    }
    .matrix-k2-item-select {
      background-color: #005dc1 !important;
      color: white !important;
    }
    .matrix-k2-item {
      background-color: hsl(211, 150%, 95%);
      text-align: center;
      margin: 2px 2px;
      border-radius: 0px;
    }
    .matrix-k2-install {
      background-color: hsl(211, 150%, 95%);
      margin: 2px 2px;
      border-radius: 0px;
      font-size: 14px;
      white-space: pre-line;
    }
    .matrix-k2-head {
      font-size: 18px;
    }
    .md-typeset h1 {
      display:none;
    }
    .custome-h1 {
      color: var(--md-default-fg-color--light);
      font-size: 2em;
      line-height: 1.3;
      margin: 0 0 1.25em;
      font-weight: 300;
      letter-spacing: -.01em;
    }
  </style>
<!-- MDB -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"/>
<!-- <link rel="stylesheet" href="../../assets/stylesheets/mdb.min.css"/> -->
{% endblock %}

{% block content %}
   <div class="custome-h1"> k2 </div>
    <div class="container" id="app">

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          Build
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in k2_build_list"
              @click="update_k2_build(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': k2_build==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          OS
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in os_list"
              @click="update_os(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': os==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          Package
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in source_list"
              @click="update_source(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': source==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          Pytorch
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(value, item, index) in pytorch_cuda_list"
              @click="update_pytorch(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': pytorch==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          Platform
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in pytorch_cuda_list[pytorch]"
              @click="update_cuda(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': cuda==item }">[[ item == 'CPU' ? 'CPU' : 'CUDA'+item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          Command:
        </div>
        <div class="col-10">
            <div class="p-2 matrix-k2-install">[[ install ]]</div>
        </div>
      </div>

    </div>
  <!-- </main> -->
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- MDB -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
  <!-- <script src="../../assets/javascripts/mdb.min.js"></script>  -->
  <!-- <script src="../../assets/javascripts/vue.global.js"></script> -->
  <script>
    const { createApp } = Vue

    createApp({
      delimiters: ["[[", "]]"],
      data() {
        return {
          k2_build: 'Latest',
          os: 'Linux',
          source: 'Pip',
          pytorch: '2.0.1',
          cuda: '11.8',
          install: '',
          k2_build_list: ['Latest'],
          os_list: ['Linux', 'Mac', 'Windows'],
          source_list: ['Pip', 'Source'],
          pytorch_cuda_list: {'2.0.1' : ['CPU', '11.8', '11.7']},
          pytorch_cuda: {},
          pytorch_cpu: {},
        }
      },
      mounted() {
        let that = this;
        window.fetch("https://k2-fsa.github.io/k2/cuda.html").then(
          function(response) {
            return response.text();
          }).then(function(data) {
            let v_list = data.split("<br/>");
            let torch_cuda = Object();
            let torch_cpu = Object();
            for (let i = 0; i < v_list.length; ++i) {
              let item = v_list[i].split(">")[1].trim();
              let i_1 = item.indexOf("+");
              let i_2 = item.indexOf("torch");
              let i_3 = item.indexOf("-cp");
              let k2_v = item.substring(3, i_1);
              let cuda_v = item.substring(i_1 + 1, i_2 - 1);
              let torch_v = item.substring(i_2, i_3);
              if (i == 0) {
                that.k2_build = k2_v;
                that.k2_build_list = [k2_v];
                that.pytorch = torch_v.slice(5);
                that.cuda = cuda_v.slice(4);
              }
              if (k2_v != that.k2_build) {
                break;
              }
              if (torch_cuda[torch_v.slice(5)] != undefined && torch_cuda[torch_v.slice(5)].slice(-1) != cuda_v.slice(4)) {
                torch_cuda[torch_v.slice(5)].push(cuda_v.slice(4));
              } else {
                torch_cuda[torch_v.slice(5)] = ['CPU', cuda_v.slice(4)];
                torch_cpu[torch_v.slice(5)] = ['CPU'];
              }
            }
            that.pytorch_cuda = torch_cuda;
            that.pytorch_cuda_list = torch_cuda;
            that.pytorch_cpu = torch_cpu;
            that.update_install();
          }).catch(function(err) {
            console.log('Fetch Error :-S', err);
        });
      },
      methods: {
        update_k2_build(item) {
          this.k2_build = item;
          this.update_install();
        },
        update_pytorch(item){
          this.pytorch = item;
          this.cuda = 'CPU';
          this.update_install();
        },
        update_os(item) {
          this.os = item;
          if (item == "Mac" || item == "Windows") {
            this.pytorch_cuda_list = this.pytorch_cpu;
            this.cuda = 'CPU';
          } else {
            this.pytorch_cuda_list = this.pytorch_cuda;
          }
          this.update_install();
        },
        update_source(item) {
          this.source = item;
          this.update_install();
        },
        update_cuda(item){
          this.cuda = item;
          this.update_install();
        },
        update_install () {
          if (this.source == "Source") {
            this.install = "# Follow instructions at this URL: https://k2-fsa.github.io/k2/installation/from_source.html"
          } else {
            if (this.cuda == 'CPU') {
               this.install = "# Install Pytorch\n" + 
                              "pip install torch==" + this.pytorch + "+cpu" +
                              " -f https://download.pytorch.org/whl/torch_stable.html\n\n" +
                              "# Install k2\n" +
                              "pip install k2==" + this.k2_build + "+cpu.torch" +
                              this.pytorch + " -f https://k2-fsa.github.io/k2/cpu.html"
            } else {
               this.install = "# Install Pytorch\n" +
                              "pip install torch==" + this.pytorch + "+cu" + this.cuda.replace(".", "") +
                              " -f https://download.pytorch.org/whl/torch_stable.html\n\n" +
                              "# Install k2\n" +
                              "pip install k2==" + this.k2_build + "+cuda" + this.cuda + ".torch" +
                              this.pytorch + " -f https://k2-fsa.github.io/k2/cpu.html"
            }
          }
        },
      },
    }).mount('#app')
  </script>
{% endblock %}
