{% extends "main.html" %}

{% block styles %}
{{ super() }}
  <style>
    a {
      color: inherit !important;
    }
    .matrix-k2-item-select {
      background-color: #005dc1 !important;
      color: white !important;
    }
    .matrix-k2-item {
      background-color: hsl(211, 150%, 95%);
      text-align: center;
      margin: 2px 2px;
      border-radius: 0px;
    }
    .matrix-k2-install {
      background-color: hsl(211, 150%, 95%);
      margin: 2px 2px;
      border-radius: 0px;
      font-size: 14px;
      white-space: pre-line;
    }
    .matrix-k2-head {
      font-size: 18px;
    }
    .md-typeset h1 {
      display:block;
    }
  </style>
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"/> 
<!-- <link rel="stylesheet" href="../assets/stylesheets/mdb.min.css"/> -->
{% endblock %}

{% block content %}
   {% if config.theme.language == 'en' %}
   <h1 id="ASR"> ASR <a class="headerlink" href="#ASR" title="Permanent link">&para;</a></h1>
   {% else %}
   <h1 id="语音识别"> 语音识别 <a class="headerlink" href="#语音识别" title="Permanent link">&para;</a></h1>
   {% endif %}
  
  <!-- <main class="mdb-docs-layout"> -->
    <div class="container" id="app">

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Language
          {% else %}
          语言
          {% endif %}
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in language_list"
              @click="update_language(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': language==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Type
          {% else %}
          类型
          {% endif %}
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in type_list"
              @click="update_type(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': type==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Engine
          {% else %}
          推理引擎
          {% endif %}
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in engine_list"
              @click="update_engine(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': engine==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Encoder
          {% else %}
          声学模型
          {% endif %}
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in encoder_list"
              @click="update_encoder(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': encoder==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Mode
          {% else %}
          模式
          {% endif %}
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in mode_list"
              @click="update_mode(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': mode==item }">[[ item ]]</div>
          </div>
        </div>
      </div>

      <div v-if="show_version" class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Version
          {% else %}
          版本
          {% endif %}
        </div>
        <div class="col-10">
          <div class="d-flex">
            <div 
              v-for="(item, index) in version_list"
              @click="update_version(item)"
              class="p-2 flex-fill matrix-k2-item"
              :class="{ 'matrix-k2-item-select': version==item }">[[ item ]]</div>
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Download
          {% else %}
          下载地址
          {% endif %}
        </div>
        <div class="col-10">
            <div class="p-2 matrix-k2-install">[[ download ]]</div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Usage
          {% else %}
          使用方法
          {% endif %}
        </div>
        <div class="col-10">
            <div class="p-2 matrix-k2-install">[[ usage ]]</div>
        </div>
      </div>

      <div class="row">
        <div class="col-2 p-2 matrix-k2-head">
          {% if config.theme.language == 'en' %}
          Description
          {% else %}
          模型简介
          {% endif %}
        </div>
        <div class="col-10">
            <div class="p-2 matrix-k2-install">[[ description ]]</div>
        </div>
      </div>

    </div>
  <!-- </main> -->
  {{ super() }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- MDB -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
  <!-- <script src="../assets/javascripts/mdb.min.js"></script> -->
  <!-- <script src="../assets/javascripts/vue.global.js"></script>  -->
  <script>
    const { createApp } = Vue

    createApp({
      delimiters: ["[[", "]]"],
      data() {
        return {
          language: '',
          mode: '',
          engine: '',
          encoder: '',
          type: '',
          download: '',
          uage: '',
          description: '',
          version: '',
          show_version: false,
          language_list: [],
          language_indexes : [],
          mode_list: [],
          mode_indexes : [],
          engine_list: [],
          engine_indexes: [],
          encoder_list: [],
          encoder_indexes: [],
          type_list: [],
          type_indexes: [],
          version_list: [],
          sources : [],
        }
      },
      mounted() {
        let that = this;
        var path = '';
        if (document.documentElement.lang == "en") {
          path = "/assets/data/asr_model_en.json";
        } else {
          path = "/assets/data/asr_model_cn.json";
        }
        window.fetch(path).then(
          function(response) {
            return response.json();
          }).then(function(data) {
            that.sources = data;
            that.init();
          })
      },
      methods: {
        get_item_list(indexes, key) {
          var item_list = [];
          for (let i = 0; i < indexes.length; ++i) {
            let index = indexes[i];
            let item = this.sources[index];
            if (item_list.includes(item[key])) {
              continue;
            } else {
              item_list.push(item[key]);
            }
          }
          return item_list;
        },
        get_index_list(indexes, key, value) {
          var index_list = [];
          for (let i = 0; i < indexes.length; ++i) {
            let index = indexes[i];
            let item = this.sources[index];
            if (item[key] == value) {
              index_list.push(index);
            }
          }
          return index_list;
        },
        init() {
          for (let i = 0; i < this.sources.length; ++i) {
            this.language_indexes.push(i);
          }
          this.language_list = this.get_item_list(this.language_indexes, "language");
          this.update_language(this.language_list[0])
        },
        update_language(item) {
          this.language = item;
          this.type_indexes = this.get_index_list(this.language_indexes, "language", item);
          this.type_list = this.get_item_list(this.type_indexes, "type");
          this.update_type(this.type_list[0]);
        },
        update_type(item) {
          this.type = item;
          this.engine_indexes = this.get_index_list(this.type_indexes, "type", item);
          this.engine_list = this.get_item_list(this.engine_indexes, "engine");
          this.update_engine(this.engine_list[0]);
        },
        update_engine(item) {
          this.engine = item;
          this.encoder_indexes = this.get_index_list(this.engine_indexes, "engine", item);
          this.encoder_list = this.get_item_list(this.encoder_indexes, "encoder");
          this.update_encoder(this.encoder_list[0]);
        },
        update_encoder(item) {
          this.encoder = item;
          this.mode_indexes = this.get_index_list(this.encoder_indexes, "encoder", item);
          this.mode_list = this.get_item_list(this.mode_indexes, "mode");
          this.update_mode(this.mode_list[0]);
        },
        update_mode(item){
          this.mode = item;
          this.version_indexes = this.get_index_list(this.mode_indexes, "mode", item);
          version_list = [];
          for (let i = 0; i < this.version_indexes.length; ++i) {
            version_list.push(i);
          }
          console.log(version_list);
          if (version_list.length == 1) {
            this.show_version = false;
            this.download = this.sources[this.version_indexes[0]].download;
            this.usage = this.sources[this.version_indexes[0]].usage;
            this.description = this.sources[this.version_indexes[0]].description;
          } else {
            this.show_version = true;
            this.version_list = version_list;
            this.update_version(this.version_list[0]);
          }
        },
        update_version(item) {
          this.version = item;
          this.download = this.sources[this.version_indexes[item]].download;
          this.usage = this.sources[this.version_indexes[item]].usage;
          this.description = this.sources[this.version_indexes[item]].description;
        }
      },
    }).mount('#app')
  </script>
{% endblock %}
